{
  "Version": "1.0.0.0",
  "Debug": false,
  "ForceToolsFromHttps": true,
  "ToolsToIgnore": [
    "accesschk64.exe",
    "accessenum.exe",
    "adexplorer.chm",
    "adexplorer64.exe",
    "adinsight.chm",
    "adinsight64.exe",
    "adrestore64.exe",
    "autologon64.exe",
    "autoruns.chm",
    "autoruns64.dll",
    "autoruns64.exe",
    "autoruns64a.dll",
    "autorunsc64.exe",
    "bginfo64.exe",
    "cacheset64.exe",
    "clockres64.exe",
    "contig64.exe",
    "coreinfo64.exe",
    "cpustres64.exe",
    "ctrl2cap.exe",
    "dbgview.chm",
    "dbgview64.exe",
    "desktops64.exe",
    "disk2vhd.chm",
    "disk2vhd64.exe",
    "diskext64.exe",
    "diskmon.hlp",
    "diskmon64.exe",
    "diskview64.exe",
    "du64.exe",
    "efsdump.exe",
    "eula.txt",
    "findlinks64.exe",
    "handle64.exe",
    "hex2dec64.exe",
    "junction64.exe",
    "ldmdump.exe",
    "listdlls64.exe",
    "livekd64.exe",
    "loadord64.exe",
    "loadordc64.exe",
    "logonsessions64.exe",
    "movefile64.exe",
    "notmyfault64.exe",
    "notmyfaultc64.exe",
    "ntfsinfo64.exe",
    "pagedfrg.exe",
    "pagedfrg.hlp",
    "pendmoves64.exe",
    "pipelist.exe",
    "pipelist64.exe",
    "portmon.exe",
    "portmon.hlp",
    "procdump64.exe",
    "procexp.chm",
    "procexp64.exe",
    "procmon.chm",
    "procmon64.exe",
    "psexec64.exe",
    "psfile64.exe",
    "psgetsid64.exe",
    "psinfo64.exe",
    "pskill64.exe",
    "pslist64.exe",
    "psloggedon64.exe",
    "psloglist64.exe",
    "pspasswd64.exe",
    "psping64.exe",
    "psservice64.exe",
    "psshutdown64.exe",
    "pssuspend64.exe",
    "pstools.chm",
    "rammap64.exe",
    "rdcman.exe",
    "readme.txt",
    "regdelnull64.exe",
    "reghide.exe",
    "regjump.exe",
    "rootkitrevealer.chm",
    "rootkitrevealer.exe",
    "ru64.exe",
    "sdelete64.exe",
    "shareenum64.exe",
    "shellrunas.exe",
    "sigcheck64.exe",
    "streams64.exe",
    "strings64.exe",
    "sync64.exe",
    "sysmon64.exe",
    "tcpvcon64.exe",
    "tcpview.chm",
    "tcpview.hlp",
    "tcpview64.exe",
    "testlimit64.exe",
    "vmmap.chm",
    "vmmap64.exe",
    "volumeid64.exe",
    "whois64.exe",
    "winobj.hlp",
    "winobj64.exe",
    "zoomit64.exe"
  ]
}