{
  "Version": "1.0.1",
  "RetryCount": 5,
  "RetryDelayInMilliseconds": 60000,
  "Debug": false,
  "ForceToolsFromHttps": true,
  "ToolsToIgnore": [
    "accesschk.exe",
    "adexplorer.exe",
    "adinsight.exe",
    "adrestore.exe",
    "autologon.exe",
    "autoruns.exe",
    "autorunsc.exe",
    "bginfo.exe",
    "cacheset.exe",
    "clockres.exe",
    "contig.exe",
    "coreinfo.exe",
    "cpustres.exe",
    "dbgview.exe",
    "desktops.exe",
    "disk2vhd.exe",
    "diskext.exe",
    "diskmon.exe",
    "diskview.exe",
    "du.exe",
    "findlinks.exe",
    "handle.exe",
    "hex2dec.exe",
    "junction.exe",
    "listdlls.exe",
    "livekd.exe",
    "loadord.exe",
    "loadordc.exe",
    "logonsessions.exe",
    "movefile.exe",
    "notmyfault.exe",
    "notmyfaultc.exe",
    "ntfsinfo.exe",
    "pendmoves.exe",
    "procdump.exe",
    "procexp.exe",
    "procmon.exe",
    "psexec.exe",
    "psfile.exe",
    "psgetsid.exe",
    "psinfo.exe",
    "pskill.exe",
    "pslist.exe",
    "psloggedon.exe",
    "psloglist.exe",
    "pspasswd.exe",
    "psping.exe",
    "psservice.exe",
    "psshutdown.exe",
    "pssuspend.exe",
    "psversion.txt",
    "rammap.exe",
    "regdelnull.exe",
    "ru.exe",
    "sdelete.exe",
    "shareenum.exe",
    "sigcheck.exe",
    "streams.exe",
    "strings.exe",
    "sync.exe",
    "sysmon.exe",
    "tcpvcon.exe",
    "tcpview.exe",
    "testlimit.exe",
    "vmmap.exe",
    "volumeid.exe",
    "whois.exe",
    "winobj.exe",
    "zoomit.exe"
  ]
}